@using Party;
@using Party.Player;
@namespace Party.UI
@attribute [StyleSheet("/UI/Hud.scss")]
@inherits RootPanel

<root>
    <div class="PlayerInfo">
        @foreach (var item in Game.Clients)
        {
            if (item.Pawn is PartyPlayer player)
            {
                <PlayerDisplay Player=@player />
            }
        }
    </div>
</root>


@code {

    protected override int BuildHash()
    {
        return Game.Clients.Count.GetHashCode();
    }
}