@using Party;
@using Party.Player;
@using Party.StateSystem;
@namespace Party.UI
@attribute [StyleSheet("/UI/Hud.scss")]
@inherits RootPanel

<root>
    <div class="PlayerInfo">
        @foreach (var item in Game.Clients)
        {
            if (item.Pawn is PartyPlayer player)
            {
                <PlayerDisplay Player=@player />
            }
        }
    </div>

    <SelectionRoot />
</root>


@code {

    protected override int BuildHash()
    {
        return Game.Clients.Count.GetHashCode();
    }

    public override void Tick()
    {
        SetClass("NoMouse", PartyGame.CurrentState.GetType().Name == typeof(DiceState).Name);
    }
}